* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-image: url("/images/wallpaper.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
